# ============================================
# 環境
# ============================================
VITE_ENV=development

# ============================================
# API
# ============================================
VITE_API_URL=http://localhost:8000/api/v1

# ============================================
# 功能開關
# ============================================
VITE_ENABLE_DEVTOOLS=true